.logo-text {
    display: inline;
    margin-left: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #566374;
}

#user-name {
    margin-right: 20px;
}

#wrapper .main {
    width: 100%;
}

body {
    background-color: #F3F5F8;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: #676a6d;
}

.detail-row{
    padding-bottom: 20px;
}