@CHARSET "UTF-8";

.auth-box {
    height: 420px;
}

.lead {
    margin-bottom: 10px;
}

#login-button {
    margin-top: 30px;
}

#msgInfo {
    margin-top: 10px;
    height: 20px;
    color: red;
    font-size: 14px;
    padding-right: 2%;
    vertical-align: text-bottom;
}

.bottom {
    margin-top: 15px;
}
