.required {
    color: red;
}

body {
    margin: 20px auto;
    width: 400px;
}

.add-task {
    display: block;
    margin: 0 auto;
    background-color: #00AAFF;
    color: white;
    border-color: #00A0F0;
}